.c1 {
    display: flex;
    justify-content: center;
    flex: auto;
    margin-top: 50px;
    border: 2px solid grey;
    width: 600px;
    margin-left: 100px;
    margin-right: auto;
    background-color: bisque;
}
.c2 {
    height: 20px;
    width: 200px;
    background-color:aliceblue;
    border: 2px solid grey;
}
.c3 {
    font-size: large;
}
.c4 {
    margin-bottom: 30px;
}
@media (max-widtp:1200px) {
    .c1 {
        width: 500px;
        margin-left: 300px;
    }
    .c2{
        width: 200px;
    }
    .c3 {
        margin-left: 20px;
    }

}
@media (max-width: 980px) {
    .c1 {
        width: 500px;
        margin-left: 250px;
    }
    .c2 {
        width: 150px;
    }
    .c3 {
        margin-left: 20px;
    }
}
@media (max-width:768px) {
    .c1 {
        width: 400px;
        margin-left: 200px;
    }
    .c2 {
        width: 150px;
    }
    .c3 {
        margin-left: 20px;
    }

}
@media (max-width: 480px) {
    .c1 {
        width: 300px;
        margin-left: 150px;
    }
    .c2 {
        width: 100px;
    }
}
