.c1 {
    display: flex;
    justify-content: center;
    flex: auto;
    margin-top: 50px;
    border: 2px solid grey;
    width: 600px;
    margin-left: 100px;
    margin-right: auto;
    background-color: bisque;
}
.c2 {
    height: 20px;
    width: 200px;
    background-color:aliceblue;
    border: 2px solid grey;
}
.c3 {
    font-size: large;
}
.c4 {
    margin-bottom: 30px;
}