/* 
form {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: auto;
    height: 500px;
    width: 1200px;
    font-family: Verdana, sans-serif;
    border: 1px solid #000;
    border-radius: 1em;
    }
    input {
    font: 1em sans-serif;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #777;
   
    }
    input:focus {
    border-color: rgb(25, 11, 100);
    }
   .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
   } */
   .c1 {
    display: flex;
    justify-content: center;
    flex: auto;
    margin-top: 50px;
    border: 2px solid groove;
    border-radius: 2em;
    background-color: blanchedalmond;
    width: 600px;
    margin-left: 100px;
    margin-right: auto;
   }
   .c2 {
    border: 1px solid grey;
   }
   .c3 {
    border: 1px solid green;
   }
   .c4 {
    border: 1px solid red;
   }
   .c5 {
    background-color: greenyellow;
   }
   .c5:hover {
    background-color: aqua;

   }
   .c6 {
    background-color:green;
   }
   .c6:hover {
    background-color:gold ;
   }
   .c7 {
    background-color: brown;
   }
   .c7:hover {
    background-color: blueviolet;
   }
   .c8 {
    background-color: red;
   }
   .c8:hover {
    background-color:ghostwhite ;
   }
   .c9 {
    background-color: gray;
   }
   .c9:hover {
    background-color: goldenrod;
   }
   .c {
    border: 1px solid grey;
    /* border-radius: 2em; */
    height: 80px;
    width: 300px;
   margin-bottom: 20px;
   }
